body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: darkred;
}

#headerDiv {
    text-align: center;
}

h1 {
    background-color: lightgreen;
    font-size: 72px;
    color: darkgreen;
}

h3 { 
    color: white;
}

.wishGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.wishlistItemContainer {
    border: 20px;
    background-color: darkgreen;
    padding: 5px;
    text-align: center;
    border: solid 3px white;
    height: 33vh;
    width: 25vw;
}

img {
    height: 5vw;
    width: 5vw;
    border: solid 3px lightgreen;
}

a { 
    color: white
}