body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    background-color: darkred;
}

#headerDiv {
    text-align: center;
}

h1 {
    background-color: lightgreen;
    font-size: 72px;
    color: darkgreen;
}

h3 { 
    color: white;
}

.wishGridContainer {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 25vh 25vh 25vh;
    justify-items: center;
    align-items: center;
    
}

.wishlistItemContainer {
    border: 20px;
    padding: 5px;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    border: solid 3px green;
}

a { 
    color: white
}